<div class="container my-5">
    <div class="col-sm-9 mx-auto" id="articleBox"></div>
</div>

<script>
    const articleBox = document.getElementById('articleBox');
    fetch('/getArticles')
        .then(response=>response.json())
        .then(result=>{
            console.log(result);
            for (let i = 0; i < result.length; i++) {
                const h3 = document.createElement('a');
                h3.href = '/blog/'+result[i].id;
                h3.classList.add('h3','my-3');
                const div = document.createElement('div');
                const p = document.createElement('p');
                const hr = document.createElement('hr');
                h3.innerText = result[i].title;
                div.innerHTML = result[i].content;
                p.innerText = result[i].author;
                articleBox.append(h3, div, p, hr);
            }
        })
</script>