<div class="container my-5">
  <h1 class="text-center my-3">Регистрация на сайте</h1>
  <div class="col-sm-6 mx-auto">
    <form onsubmit="sendForm(this); return false;" action="/php/handlerReg.php" method="post">
      <div class="mb-3">
        <input required name="name" type="text" class="form-control" placeholder="Имя">
      </div>
      <div class="mb-3">
        <input required name="lastname" type="text" class="form-control" placeholder="Фамилия">
      </div>
      <div class="mb-3">
        <input required name="email" type="email" class="form-control" placeholder="Email">
        <p class="text-danger" hidden id="info">Такой пользователь уже существует</p>
      </div>
      <div class="mb-3">
        <input required name="pass" type="password" class="form-control" placeholder="Пароль">
      </div>
      <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Зарегистрироваться">
      </div>
    </form>
  </div>
</div>
<script>
  const info = document.getElementById('info');
  function sendForm(form){
    info.hidden = true;
    const formData = new FormData(form);
    fetch("/reg", {
      method: "POST",
      body: formData
    }).then(response=>response.json())
            .then(result=>{
              console.log(result)
              if(result.result == "success"){
                location.href = '/login';
              }else if(result.result == "exist"){
                info.hidden = false;
              }
            })
  }
</script>